html {
  font-size: 16px;
}

@charset "UTF-8";

@font-face {
  font-family: "BC-Falster-Grotesk-Regular";
  src: url("fonts/BC-Falster-Grotesk-Regular-fdaf5be742363f9502b0419253f3633a.eot");
  src: url("fonts/BC-Falster-Grotesk-Regular-fdaf5be742363f9502b0419253f3633a.eot?#iefix") format("embedded-opentype"), url("fonts/BC-Falster-Grotesk-Regular-fdaf5be742363f9502b0419253f3633a.woff2") format("woff2"), url("fonts/BC-Falster-Grotesk-Regular-fdaf5be742363f9502b0419253f3633a.woff") format("woff"), url("fonts/BC-Falster-Grotesk-Regular-fdaf5be742363f9502b0419253f3633a.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
    font-family: 'BC-Falster-Grotesk-Regular', sans-serif;
}

body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: auto;
  margin-top: 5rem;
  margin left: auto;
  margin-right: auto;
}

ul {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  width: auto;
  color: #000000;
  display: block;
  text-transform: lowercase;
  text-align: center;
  font-weight:lighter;
  font-size: 1.4em;
  margin left: auto;
  margin-right: auto;
}

.poem {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
}

.poem h2 {
  font-size: 1.75em;
  color: #000000;
  display: inline-table;
  text-transform: lowercase;
  text-align: left;
  font-weight: lighter;
  margin-left: 10%;
  margin-right: 10%;
}

.poem h3 {
  font-size: 1em;
  color: #0000ff;
  display:inline-table;
  text-transform: lowercase;
  text-align: left;
  font-weight: lighter;
  margin-left: 10%;
  margin-right: 10%;
}
