html {
  max-width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

.background-image {
  background: url('images/etet_website-background-01.jpg');
  background-size: 125%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background-repeat: repeat-y;
  opacity: 0.4;
  width: 100%;
  height: 110%;
  z-index: -1;
}

@charset "UTF-8";

@font-face {
  font-family: "BC-Falster-Grotesk-Regular";
  src: url("fonts/BC-Falster-Grotesk-Regular-fdaf5be742363f9502b0419253f3633a.eot");
  src: url("fonts/BC-Falster-Grotesk-Regular-fdaf5be742363f9502b0419253f3633a.eot?#iefix") format("embedded-opentype"), url("fonts/BC-Falster-Grotesk-Regular-fdaf5be742363f9502b0419253f3633a.woff2") format("woff2"), url("fonts/BC-Falster-Grotesk-Regular-fdaf5be742363f9502b0419253f3633a.woff") format("woff"), url("fonts/BC-Falster-Grotesk-Regular-fdaf5be742363f9502b0419253f3633a.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
    font-family: 'BC-Falster-Grotesk-Regular', sans-serif;
}

body {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  text-align: center;
}

header {
  width: auto;
  margin left: auto;
  margin-right: auto;
}

#title {
  text-align: center;
  display: block;
  width: 100%;
  height: 5rem;
  margin-top: -4rem;
  padding: auto;

}

#title a {
  text-decoration: none;
  font-weight:lighter;
  font-size: 1.3em;
  color: #000000;
  text-transform: lowercase;
}

.navigation {
  max-width: 100%;
  height: 100%;
  position: fixed;
  top: 2%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  list-style: none;
  background: rgba(0, 0, 0, 0);
}

.nav-item {
  width: 200px;
  border-top: (0, 0, 0, 0);
  border-bottom: (0, 0, 0, 0);
  z-index: 3;
}

.nav-item a {
  display: block;
  padding: 1em;
  background: rgba(255, 255, 255, 0.8);
  color: #292929;
  font-size: 1.2em;
  text-decoration: none;
  font-family: "BC-Falster-Grotesk-Regular";
  text-align: right;
  margin-right: 1.75em;
}

.nav-item a:hover{
  background: #292929;
  color: rgb(255, 255, 255);
}

.site-wrap {
  min-height: 100%;
  max-width: 100%;
  background-color: white;
  position: relative;
  top: 0;
  padding: 4em;
  padding-bottom: 3%;
  bottom: 100%;
  left: 0;
  z-index: 1;

}

.site-wrap-bg {
  background: url('images/etet_website-background-01.jpg');
  background-size: 125%;
  background-repeat: repeat-y;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  height: 38px;
  width: 49px;
  cursor: pointer;
  background-image: url("images/menu.png");
  background-size: cover;
  background-size: 80%;
  background-repeat: no-repeat;
}

.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 195px;
}

#readout {
  font-size: 1.25em;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#controls {
  font-size: 20px;
  display: block;
  text-align: left;
  position: absolute;
  left: 40px;
  top: 200px;
  display: none;
}

h1,h2,h3 {
  line-height: double;
}

#container {
  max-width: 45%;
  height: 100%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: inline-block;
  text-align: left;
}

#date_time {
  font-size: 0.9em;
  color: #0000ff;
  display: block;
  font-weight: lighter;
  text-align: left;
  width: 100%;
  margin: auto auto;
  padding: auto auto;
}

#poem {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: inline-block;
  padding: auto auto;
  font-size:30px;
  color:#292929;
  text-align: left;
}

#poem h2 {
  font-size: 1.75em;
  color: #000000;
  display: block;
  text-transform: lowercase;
  text-align: left;
  font-weight: lighter;
  margin: 2rem 0;
  width: 100%

}


#copy-body {
  width: 100%;
  height: auto;
  padding: 2px;
  display: block;
}

#copy-body p {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: justify;
  padding: 0.5em;
}

#copy-body img {
  width: 50%;
  margin: 2% auto;
}

.copy h1 {
  font-size: 1.5em;
}

.copy {
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 50%;
  display: block;
  margin: 0 auto;
  text-align: justify;
}

.commissionLogos {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 10%;
  padding: auto;

}

.commissionLogos img {
  height: 4rem;
}

.commissionLogos a {
  height: 4rem;
  display: inline-block;
}

.partnerLogos {
  width: 100%;
  padding: auto;
}

.partnerLogos img {
  height: 2.5rem;
}

.partnerLogos a {
  height: 2.5rem;
  display: inline-block;
  padding: 2%;
}

#row1 {
  display: flex;
  justify-content: space-around;
}

#row2 {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 10%;
}

#row3 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#row4 {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  height: 4rem;
}

#row4 img {
  height: 4rem;
}

#row5 {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;
}

#mainContainer {
  width: 80%;
  margin: 0 auto;

}

.eventContainer {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 10% auto;
}

#event1 {
  width: 30rem;
  height: auto;
  background-image: url("images/events/event1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#event1 img {
  width: 100%;
  height: auto;
  display: block;
  float: left;
}

#event2 {
  width: 30rem;
  height: auto;
  background-image: url("images/events/event2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#event2 img {
  width: 100%;
  height: auto;
  display: block;
  float: left;
}

#event3 {
  width: 30rem;
  height: auto;
  background-image: url("images/events/event3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#event3 img {
  width: 100%;
  height: auto;
  display: block;
  float: left;
}

.eventTitle {
  width: 100%;
  height: 12rem;
  display: inline-block;
  float: right;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 0;
  margin: auto 0;
}

.eventTitle p {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  color: rgb(138, 138, 138);
  position: relative;
  top: 25%;


}

.eventTitle a {
  text-decoration: none;
  color: #000;
}



#map {
  width: 100%;
  display: flex;
  text-align: left;
  position: relative;
  left: 0;
  margin-top: 5%;
  margin-bottom: 10%;
}

#map iframe {
  max-width: 560px;
  display: inline-block;
  float: left;
}

#locations {
  display: inline-block;
  float: right;
  margin: auto 3%;
  width: 50%;
}

#col1 {
 position:relative;
 min-width: 30%;
 padding: 0;
 float: left;
}

#col2 {
 position:relative;
 min-width: 30%;
 padding: 0;
 float: right;
}

.address {
  height: 40%;
  margin-bottom: 10%;
}

.address h3 {
  top:0;
  margin: 0;
}

.address p {
 font-size: 0.75em;
 color: #696969;
 margin: 2.5%;
 margin-left: 0;
}


.address ul {
list-style: none;
font-size: 0.75em;
color: #696969;
margin-top: 0;
display: block;

}



footer {
  background-color: #292929;
  width: 100%;
  height: 5.5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
}


#copyright {
  color: #ffffff;
  font-family: 'Helvetica', sans-serif;
  font-size: 11px;
  width: 35%;
  height: 100%;
  display: block;
  text-align: left;
  float: left;
  margin-left: 1%;
  background-color: #292929;
}

#logos {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 1%;
}

#logos img {
  display: inline-block;
  height: 40px;
  margin: auto 3%;
}

#logos a {
  height: 40px;
  margin: auto 3%;
}

#social {
  display: flex;
  justify-content: space-around;
  width: 25%;
  height: 5rem;
  float: right;
}

.socialButton {
  display: inline-block;
  width: 40px;
  margin: auto 0;
}

@media only screen and (max-width:425px) { /* smartphones, iPhone, portrait 480x320 phones */


  .background-image {
    background: url('images/etet_website-background-01.jpg');
    background-size: 125%;
    background-repeat: repeat-y;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    z-index: -10;
  }

  #container {
    max-width: 100%;
    height: 80%;
    padding-bottom: 15%;
    margin: 0 auto;
    margin-top: 30%;
    display: inline-block;
    text-align: left;
  }

  #date_time {
    font-size: 0.75em;
    color: #0000ff;
    display: block;
    font-weight: lighter;
    text-align: left;
    width: 100%;
    margin: auto;
    padding: auto;
  }

  #poem {
    width: 100%;
    height: 100%%;
    margin: 0 auto;
    display: inline-block;
    padding: auto auto;
    font-size: 1.1em;
    color:#292929;
    text-align: left;
  }

  #readout {
    font-size: 0.85em;
    position: absolute;
    right: 20px;
    top: 100%;
  }

  #copy-body {
    width: 100%;
    max-height: 100%;
    padding: 2px;
    display: block;
    margin-top: 30%;
  }


  #copy-body img {
    width: 100%;
    margin: 2% auto;
  }

  .copy h1 {
    font-size: 1em;
  }

  .copy {
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: justify;
  }

  .copy p {
    font-size: 0.85em;
  }


  .commissionLogos {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 0;

  }

  .commissionLogos img {
    height: 50%;
  }

  .partnerLogos {
    width: 100%;
    padding: auto;
  }

  .partnerLogos img {
    height: 50%;
  }

  #row1 {
    display: flex;
    justify-content: space-around;
  }

  #row2 {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  #row3 {
    display: flex;
    justify-content: center;
    margin-top: 3%;
  }

  #row4 {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    height: 4rem;
  }

  #row4 img {
    height: 2rem;
  }

  #row5 {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  #row5 img {
    height: 2rem;
  }


  .navigation {
    width: 150px;
    position: fixed;
    left: 0;
    text-align: left;
  }

  .navigation li {
    width: 100%;
  }

  .navigation a {
    display: block;
    background: rgba(255, 255, 255, 0.8);
    color: #292929;
    font-size: 1.2em;
    text-decoration: none;
    font-family: "BC-Falster-Grotesk-Regular";
    text-align: right;
    width: 90%;
  }

  .nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  label[for="nav-trigger"] {
    position: fixed;
    left: 15px; top: 15px;
    z-index: 2;
    height: 38px;
    width: 49px;
    cursor: pointer;
    background-image: url("images/menu.png");
    background-size: cover;
    background-size: 80%;
    background-repeat: no-repeat;
  }

  footer {
    background-color: #292929;
    width: 100%;
    height: 5.5rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }


  #copyright {
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    font-size: 8px;
    width: 50%;
    height: 100%;
    display: block;
    text-align: left;
    float: left;
    margin-left: 1%;
    background-color: #292929;
  }

  #logos {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 1%;
  }

  #logos img {
    display: inline-block;
    height: 1rem;
    margin: auto 0;
  }

  #logos a {
    height: 1rem;
    margin: auto 0;
  }

  #mainContainer {
    width: 100%;
    margin-top: 5rem;
  }

  .eventContainer {
    width: 100%;
    height: 100%;
    display: flex;
  }

  #event1 {
    width: 30rem;
    height: auto;
    background-image: url("images/events/event1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #event1 img {
    width: 100%;
    height: auto;
    display: block;
    float: left;
  }

  #event2 {
    width: 30rem;
    height: auto;
    background-image: url("images/events/event2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #event2 img {
    width: 100%;
    height: auto;
    display: block;
    float: left;
  }

  #event3 {
    width: 30rem;
    height: auto;
    background-image: url("images/events/event3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #event3 img {
    width: 100%;
    height: auto;
    display: block;
    float: left;
  }

  .eventTitle {
    width: 25rem;
    height: auto;
    display: inline-block;
    float: right;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 0;
    margin: auto 0;
    line-height: 1;
  }


  .eventTitle p {
    padding: 0;
    margin: 0;
    font-size: 0.3em;
    color: rgb(138, 138, 138);

  }

  .eventTitle a {
    text-decoration: none;
    font-size: 0.5em;
    color: #000;
  }

  #map {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    left: 0;
    margin-top: 20%;
    text-align: left;
  }

  #map iframe {
    max-width: 300px;
    align-items: flex-start;
    margin: 10% auto;
  }

  #locations {
    display: block;
    margin: auto 3%;
    width: 100%;
    align-items: baseline;
    text-align: left;
  }

  #col1 {
   min-width: 50%;
   padding: 0;
   float: left;
  }

  #col2 {
   min-width: 50%;
   padding: 0;
   float: right;
 }


  .address {
    height: 40%;
    margin-bottom: 10%;
    display: block;
  }

  .address h3 {
    top:0;
    margin: 0;
  }

  .address p {
   font-size: 0.75em;
   color: #696969;
   margin: 5%;
   line-height: 1.2;
  }


  .address ul {
  list-style: none;
  font-size: 0.75em;
  color: #696969;
  margin-top: 0;
  display: block;
  }


@media only screen and (min-width:426px) and (max-width: 768px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
  #container {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    display: inline-block;
    text-align: left;
  }
}

@media only screen and (min-width:768px) and (max-width: 1024px) { /* big landscape tablets, laptops, and desktops */ }

@media only screen and (min-width:1025px) { /* hi-res laptops and desktops */}
